@charset "utf-8";
* {
    border: 0;
    margin: 0;
    padding: 0;
	text-decoration: none;
}
@font-face {
    font-family: Unifrak;
    src: url('Fonts/Unifrak.ttf');
}
@font-face {
    font-family: Knewave;
    src: url('Fonts/Knewave.ttf');
}
@font-face {
    font-family: MID;
    src: url('Fonts/MID.ttf');
}
@font-face {
    font-family: Canterbury;
    src: url('Fonts/Canterbury.ttf');
} 
.clear {
	clear: both ;
}
body {
	background-image: url(../img/bg.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
//	background: #000;
//	color: #2A2A2A;
}

/** Nav & Logo **/
header {
	height: 150px;
	margin-top: 25px;
}
header .Logo {
	width: 950px;
	height: 90px;
	margin: 0 auto;	
}
header .Logo img {
	width: 420px;
	height: 150px;
}
nav {
	width: 963px;
	height: 134px;
	margin: 0 auto;
	background: url('../img/Nav.png');
}
nav .left {
	float: left;
	clear: none;
	width: 690px;
	height: 100px;
	list-style: none;
//	background: rgba(0,0,0,0.8);
	margin-left: 20px;
}
nav .left li {
	float: left;
	height: 90px;
	display: inline-block;
	list-style: none;
	margin-top: 12px;
	font-family: Canterbury;
	padding-left: 5px;
	margin-bottom: 5px;
	padding-right: 5px;
}
nav .left li a {
	top: 20px;
	color: white;
	position: relative;
	font-size: 28px;
	padding-top: 12.5px;
	padding-left: 15px;
	border-right: 2px solid #2C2F21;
	padding-right: 25px;
	padding-bottom: 15px;
}
nav .left li:last-child a {
	border-right: 0;
}
nav .left li a:hover, nav li.Current a {
	color: rgba(255,255,255,0.2);
}
nav .left li.Current a:hover {
	color: rgba(255,255,255,0.2);
    cursor: default;
}
nav .right {
	width: 240px;
	float: right;
	height: 80px;
//	background: rgba(0,0,0,0.8);
	margin-top: 10px;
	padding-top: 5px;
	font-family: Canterbury;
}
nav .right img {
	float: left;
	width: 70px;
	height: 70px;
}
nav .right li {
	color: rgba(255,255,255,0.6);
	font-size: 20px;
	margin-top: 8px;
	list-style: none;
	margin-left: 75px;
}
nav .right li a {
	color: rgba(255,255,255,0.2);
}
nav ul {
	color: white;
	width: 400px;
	height: 25px;
//	background: rgba(0,0,0,0.8);
	padding-top: 3px;
	margin-left: 30px;
	font-family: Arial;
	padding-left: 10px;
}
nav ul li {
	float: left;
	padding: 10px;
	display: inline-block;
	list-style: none;
	padding-top: 0;
	padding-bottom: 0;
}
nav ul li a {
	color: white;
	font-size: 15px;
}
nav ul li a:hover {
	color: rgba(255,255,255,0.6);
}

/** Content Area **/
.content {
	width: 961px;
	color: white;
	margin: 0 auto;
	margin-top: 10px;
}
.content .top {
	width: 961;
	height: 76px;
	background: url('../img/TOPC.png');
}
.content .maincontent {
	float: left;
	width: 695px;
	margin-left: 19px;
}
.content .maincontent:first-child {
	margin-top: 15px;
	padding-top: 0px;
}
.content .maincontent p span {
	font-weight: bold;
	font-variant: small-caps;
}
.content aside {
	float: left;
	width: 230px;
	min-height: 60px;
	margin-left: 3px;
}
.content aside img {
	margin-left: 5px;
}
.content aside h2.header {
	width: 192px;
	height: 32px;
	padding: 3px;
	font-size: 20px;
	margin-top: 30px;
	background: url('../img/SHeader.png') no-repeat;
	padding-left: 10px;
}
.content .main {
	width: 961px;
	min-height: 250px;
	background: url('../img/MC.png') repeat-y;
	font-family: Arial;
}
.content .main .events {
	width: 637px;
	height: 182px;
	margin: 0 auto;
	background: url('../img/Events.png') no-repeat;
}
.content .main .events header {
	margin: 0;
	height: 28px;
	font-size: 20px;
	list-style: none;
	padding-top: 3px;
	margin-left: 18px;
}
.content .main .events article {
	float: left;
	width: 205px;
	height: 146px;
	margin-left: 5.25px;
	border-right: 1px solid #161510;
}
.content .main .events article:last-child {
	border-right: 0;
}
.content .main .events article .img {
	width: 181px;
	height: 69px;
	margin: 0 auto;
	background: url('../img/Event_bg.png') no-repeat;
}
.content .main .events article h3 {
	color: #4F4435;
	font-size: 15px;
	margin-left: 15px;
}
.content .main .events article p {
	color: white;
	width: 170px;
	height: 50px;
	font-size: 10.5px;
	text-align: justify;
	margin-left: 15px;
}
.content .main .news {
	width: 680px;
	height: 100px;
	margin-top: 15px;
//	background: rgba(0,0,0,0.8);
}
.content .main .news article {
	clear: both;
}
.content .main .news .img {
	float: left;
	width: 192px;
	height: 110px;
	margin-top: 15px;
}
.content .main .news .left {
	float: left;
	width: 480px;
	height: 100px;
	clear: right;
	margin-top: 10px;
	margin-left: -3px;
}
.content .main .news .left h1 {
	color: #0F0D0A;
	width: 480px;
	font-size: 18px;
	margin-top: 5px;
	padding-left: 8px;
	border-bottom: 1px solid #0F0D0A;
}
.content .main .news .left .date {
	color: #0F0D0A;
	font-size: 11px;
	line-height: 0.5px;
	padding-left: 8px;
}
.content .main .news .left p.text {
	color: white;
	font-size: 12px;
	text-align: justify;
	padding-left: 8px;
}
.content .bottom {
	width: 961px;
	height: 77px;
	background: url('../img/BottomC.png') no-repeat;
}
.content .bottom .maincontent {
	padding-top: 20px;
}
.content .bottom aside {
	text-align: center;
}
.content .bottom aside li {
	width: 40px;
	height: 40px;
//	display: inline-block;
	display: inline-table;   /* Allow the centering to work */
	margin: 0 auto;
	list-style: none;
}
.content .bottom aside li a {
	color: white;
}
.content .bottom aside li a img {
	width: 40px;
	height: 40px;
}